.projectSection {
    padding: 6rem 0;
    background: #1b2735;
    font-family: 'Poppins', sans-serif;
}

.projectSection h2 {
    color: #38bdf8;
}

.mainContent {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}

.projectCard {
    width: 40%;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    background: white;
    background: #243b55;
    text-align: center;
    color: white;
}


.projectCard:hover {
    transform: translateY(-4px);
}

.imgContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;

}

.projectImage {
    width: 100%;
    object-fit: cover;
}

.projectCard p {
    color: #94a3b8;
}

.projectCard ul {
    color: #94a3b8;
}

.langBtn {
    display: flex;
    justify-content: space-between;
}

.languageIcon {
    font-size: 2rem;

}

.langLogo {
    color: #0ea5e9;
}

.btns {
    margin-top: 10px;
}

.btns a {
    text-decoration: none;
    padding: 8px 18px;
    margin: 5px;
    border-radius: 6px;
    background: #38bdf8;
    color: black;
    font-size: 14px;

}

.btns a:hover {
    background: #0ea5e9;
    color: white;
}


@media (max-width:768px) {

    .mainContent {
        flex-direction: column;
        align-items: center;
    }

    .projectCard {
        width: 90%;
    }

}

@media(max-width:440px) {
    .langBtn {
        display: inline-block;
    }
}